*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;}

body {
    height: 100vh;
    display: flex;
    background-color:linear-gradient(20,45,78,1);
    overflow: hidden;
}

.code-area {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-right: 1px solid #555;   
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-radius:25px;
}

.code-area textarea {
    resize: none;
    outline: none;
    width: 100%;
    height: 33.0%;
    font-size: 18px;
    padding: 10px;
}

.preview-area {
    width: 50%;
    border: 1px solid transparent;
    border-radius:25px;
}

.preview-area iframe {
    width: 100%;
    height: 100%;
    border: none;
}

#clear,
#load{
    width: 35%;
    font-size: 25px;
    font-weight: bold;
    border-style: dotted;
    background-color: #49ad37;
    color: #ffffff;
    opacity: 70%;
    transition: 0.9s;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-radius:25px;
}

#load {
    margin-left: 64px;
    width: 35%;
    background-color: #49ad37;
    border: 1px solid transparent;
    border-radius:25px;
}



#clear:hover {
    opacity: 100%;
}

#load:hover {
    opacity: 100%;
}

.txt {
    margin: 2px;
}

#outer {
    width: 100%;
    text-align: center;
}

.inner {
    display: inline-block;
}

#run:hover {
    opacity: 100%;
}
#console{
    font-family:Verdana;
}

